extends _template.pug
include _mixins.pug

block vars
  - var pageTitle = "Artificial Intelligence Solutions | Cognizant"
  - var metaDescription= "See how Cognizant Artificial Intelligence solutions help companies isolate the data that matters and make it useful."
  - var metaKeywords= "ai for business,ai solutions,artificial intelligence solutions"

block content
  include includes/_hero.pug
  include includes/_text-video.pug
  include includes/_report.pug
  include includes/_stat.pug
  include includes/_reports-regional.pug
  //- include includes/_regions.pug
  include includes/_insights.pug
  include includes/_contact.pug
  include includes/_team.pug

block append extraScripts