// ===================================================================================
// ███████  ██████   ██████  ████████ ███████ ██████
// ██      ██    ██ ██    ██    ██    ██      ██   ██
// █████   ██    ██ ██    ██    ██    █████   ██████
// ██      ██    ██ ██    ██    ██    ██      ██   ██
// ██       ██████   ██████     ██    ███████ ██   ██
// ===================================================================================
footer.theme-default
  include _footer-icons-bar.pug
  include _footer-links.pug