// =============================================================================================
// ███████  ██████   ██████  ████████ ███████ ██████      ███████  ██████   ██████ ██  █████  ██
// ██      ██    ██ ██    ██    ██    ██      ██   ██     ██      ██    ██ ██      ██ ██   ██ ██
// █████   ██    ██ ██    ██    ██    █████   ██████      ███████ ██    ██ ██      ██ ███████ ██
// ██      ██    ██ ██    ██    ██    ██      ██   ██          ██ ██    ██ ██      ██ ██   ██ ██
// ██       ██████   ██████     ██    ███████ ██   ██     ███████  ██████   ██████ ██ ██   ██ ███████
// =============================================================================================
.footer-primary
  .grid-container
    .grid-x.grid-padding-x.align-middle.align-justify
      .small-12.medium-shrink.cell
        .button-group.m0.flex-wrap
          a.button.clear.p-half(href="#")
            h5.m0
              i.logo-linkedin
          a.button.clear.p-half(href="#")
            h5.m0
              i.logo-twitter-bird
          a.button.clear.p-half(href="#")
            h5.m0
              i.logo-facebook
          a.button.clear.p-half(href="#")
            h5.m0
              i.rss-feed-solid

      .small-12.medium-shrink.cell.small
        ul.menu.vertical.medium-horizontal.large-align-right.flex-wrap.pos-inherit
          li
            a.small.pb0.px0.medium-px-half.medium-py1(href="#") Sitemap

          li
            a.small.pb0.px0.medium-px-half.medium-py1(href="#") Legal

          li
            a.small.pb0.px0.medium-px-half.medium-py1(href="#") Privacy Policy

          li
            a.small.pb0.px0.medium-px-half.medium-py1(href="#") Cookie Policy

          li
            p.small.pt2.medium-m0.medium-py1 &copy; <script>document.write(new Date().getFullYear())</script> Cognizant, all rights reserved
