// ======================================================================
// ███    ███  ██████  ██████  ██ ██      ███████
// ████  ████ ██    ██ ██   ██ ██ ██      ██
// ██ ████ ██ ██    ██ ██████  ██ ██      █████
// ██  ██  ██ ██    ██ ██   ██ ██ ██      ██
// ██      ██  ██████  ██████  ██ ███████ ███████
// ======================================================================
#stickyTitleBar.stickyTitleBar(data-sticky-container)
  .sticky(data-sticky data-margin-top="0" data-top-anchor="stickyTitleBar:bottom" data-sticky-on="small")
    .title-bar.px-half(data-responsive-toggle="primary-nav", data-hide-for="large")
      button.w100.hamburger.hamburger--spin(type="button", data-toggle)
        .title-bar-title.flex-container.align-justify.align-middle
          a(href="index.html")
            img.cog-logo.lazyload(title="Cognizant Technology Solutions", alt="Cognizant Technology Solutions", data-sizes="auto" data-src="images/COG-Logo.svg")

          h5.m0.text-right.flex-container.align-middle
            span.hamburger-box
              span.hamburger-inner
            .show-for-sr Menu

// ======================================================================
// ██████  ██████  ██ ███    ███  █████  ██████  ██    ██
// ██   ██ ██   ██ ██ ████  ████ ██   ██ ██   ██  ██  ██
// ██████  ██████  ██ ██ ████ ██ ███████ ██████    ████
// ██      ██   ██ ██ ██  ██  ██ ██   ██ ██   ██    ██
// ██      ██   ██ ██ ██      ██ ██   ██ ██   ██    ██
// ======================================================================
#stickyNav.stickyNav.w100.h100(data-sticky-container)
  .sticky(data-sticky data-margin-top="0" data-top-anchor="stickyNav:bottom" data-sticky-on="small")
    #primary-nav.primary-nav.top-bar.grid-container.px0.large-px-half.py0.large-py1.stacked-for-large(data-animate="hinge-in-from-top hinge-out-from-top")
      .top-bar-left.show-for-large
        a(href="index.html")
          img.cog-logo.lazyload(title="Cognizant Technology Solutions", alt="Cognizant Technology Solutions", data-sizes="auto" data-src="images/COG-Logo.svg")
      .top-bar-right
        ul.vertical.large-horizontal.menu(data-responsive-menu="accordion large-dropdown" data-multi-expand="false" data-alignment="left")
          // ======================================================================
          // MENU 1
          // ======================================================================
          li
            a Megamenu
            ul.menu.vertical.megamenu.large-fixed.large-pos-left.w100
              li
                .grid-container.p0
                  .grid-x.large-h100vh
                    .cell.large-auto
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                    .cell.large-auto
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                    .cell.large-auto
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
                      a.arrow(href="") Data Modernization
          // ======================================================================
          // MENU 2
          // ======================================================================
          li
            a Standard Menu
            ul.menu.vertical
              li
                .grid-container.p0
                  .grid-x
                    .cell.large-auto
                      a.arrow(href="") Evolutionary AI
                      a.arrow(href="") Conversational AI
                      a.arrow(href="") Causality
                      a.arrow(href="") Deep Learning
          // ======================================================================
          // MENU 3
          // ======================================================================
          li
            a 2-Columns
            ul.menu.vertical.megamenu.large-w40.large-fixed.large-pos-left-auto
              li
                .grid-container.p0
                  .grid-x
                    .cell.medium-auto
                      a.arrow(href="") eBook
                        i.file-acrobat.text-bold.mx-qtr
                        span.tiny (PDF, 2.6mb)
                      a.arrow(href="") Thought Leadership
                      a.arrow(href="" target="_blank" rel="noopener") Blog
                        i.launch.text-bold.ml-qtr
                    .cell.medium-auto
                      a.arrow(href="") eBook
                        i.file-acrobat.text-bold.mx-qtr
                        span.tiny (PDF, 2.6mb)
                      a.arrow(href="") Thought Leadership
                      a.arrow(href="" target="_blank" rel="noopener") Blog
                        i.launch.text-bold.ml-qtr
          // ======================================================================
          // MENU 4
          // ======================================================================
          li
            a Client Stories
            ul.menu.vertical
              li
                .grid-container.p0
                  .grid-x
                    .cell.large-auto
                      a.arrow(href="") Banking & Capital Markets
                      a.arrow(href="") Insurance
                      a.arrow(href="") Healthcare
                      a.arrow(href="") Life Sciences
                      a.arrow(href="") Communications, Media & Technology
                      a.arrow(href="") Consumer Goods & Retail
                      a.arrow(href="") Travel & Hospitality
                      a.arrow(href="") Energy & Utilities
                      a.arrow(href="") Transportation & Logistics
          li.hide-for-medium-xxl
            hr.my1.lighter
            .grid-x.grid-padding-x
              .cell.auto
                a.m0.p-half(href="") Cognizant.com
                a.m0.p-half(href="") Industries
                a.m0.p-half(href="") Services
                a.m0.p-half(href="") Latest Thinking
              .cell.auto
                a.m0.p-half(href="") Careers
                a.m0.p-half(href="") News
                a.m0.p-half(href="") Events
                a.m0.p-half(href="") Investors
              .cell
                a.m0.px-half(href="") 
                  | Search  
                  i.search.text-bold.ml-half