// ======================================================================
// ███████ ██    ██ ██████  ███    ██  █████  ██    ██
// ██      ██    ██ ██   ██ ████   ██ ██   ██ ██    ██
// ███████ ██    ██ ██████  ██ ██  ██ ███████ ██    ██
//      ██ ██    ██ ██   ██ ██  ██ ██ ██   ██  ██  ██
// ███████  ██████  ██████  ██   ████ ██   ██   ████
// ======================================================================
.secondary-nav.py-half.show-for-large
  .grid-container.small
    .grid-x.align-middle.align-justify
      .cell.shrink
        img.lazyload.cog-logo(title="Cognizant Technology Solutions", alt="Cognizant Technology Solutions", data-sizes="auto" data-src="images/COG-Logo.svg" style="max-height: 20px;")
        span.mx-qtr •
        a(href="https://www.cognizant.com") Cognizant.com
        span.mx-qtr •
        a(href="/industries") Industries
        span.mx-qtr •
        a(href="/services#") Services
        span.mx-qtr •
        a(href="/latest-thinking") Latest Thinking
      .cell.shrink
        a(href="/careers") Careers
        span.mx-qtr •
        a(href="http://news.cognizant.com/") News
        span.mx-qtr •
        a(href="/events") Events
        span.mx-qtr •
        a(href="http://investors.cognizant.com/") Investors
        span.mx-half |
        a(data-toggle="language-menu") 
          i.globe.mr-qtr
          | Worldwide
        include _nav-worldwide.pug
        a(href="#") 
          i.search.text-bold.ml-half
          .show-for-sr Search