include ../../../_mixins.pug

.ahead-container.grid-container.relative.py2.medium-py6
  .outer-top.bar.relative.mb5.show-for-medium
  .grid-x.grid-margin-x
    .cell.medium-6.small-12
      p.mb-half.text-bold.text-gray.text-spacing-1 THE WORK AHEAD 2021
      .grid-x
        .cell
          h3 Mastering the Digital Economy
      p A new digital economy has emerged from a tidal wave of technological innovation. An economy based on platforms, algorithms, "things" and "bots" is generating immense value powered by ideas of the future.
      .grid-x.align-middle
      .cell
        a.button.arrow.expanded.medium-mt2(href="CHANGE_ME") READ THE REPORT
        +social-media({
          type: 'logo-facebook',
          link: 'https://www.facebook.com/cognizant'
        },{
          type: 'logo-twitter-bird',
          link: 'https://www.twitter.com/cognizant'
        },{
          type: 'logo-linkedin',
          link: 'https://www.linkedin.com/cognizant'
        })
    .cell.medium-4.medium-offset-1
      .outer-top-right.bar.relative.w100
        img.bd-blue-2(src="http://www.placehold.it/400x500")
  .outer-bottom.relative.bar.mt3.show-for-medium