include ../../../_mixins.pug

//- .w100vw.hero-background.bg-size-cover.bg-pos-center-center(data-interchange="[../../images/custom/hero-bg-mobile.jpg, small],[../../images/custom/hero-bg-medium.jpg, medium],[../../images/custom/hero-bg-big.jpg, large]")
  .relative.wh100
    .absolute.hero-scroll.flex-container.text-white.pb2
.hero-wrapper.text-white.h100vh.flex-container.align-center-middle.bg-size-cover.bg-pos-center-center(data-interchange="[images/custom/hero-bg-mobile.jpg, small],[images/custom/hero-bg-medium.jpg, medium],[images/custom/hero-bg-big.jpg, large]")
  .grid-container.text-center.hero-content.medium-mt6
    .cell
      h1.m0.py5.medium-py6 Insights to Master the Digital Economy
    .cell.align-bottom
      p.m0.text-center Let's go
      img.mt1.hero-icon(src="images/custom/arrow.svg")

//- .absolute.pos-top.pos-left.w100.h100vh.bg-size-cover.z-1(data-interchange="[../../images/custom/hero-bg-mobile.jpg, small],[../../images/custom/hero-bg-medium.jpg, medium],[../../images/custom/hero-bg-big.jpg, large]")
//- .h100vh.text-white.text-center
//-   .grid-container.flex-container.align-stretch
//-     .grid-x.grid-padding-x
//-       .cell.align-self-bottom
//-         h1.pb6 Insights to Master the Digital Economy
//-       .cell.align-self-middle
//-         p.m0 Let's go
//-         img.hero-icon(src="../../images/custom/arrow.svg")

//- .bg-blue.mtn6.w100.h100vh.text-white.flex-container.align-center-middle.bg-size-cover.bg-pos-bottom-center(data-interchange="[../../images/custom/hero-bg-mobile.jpg, small],[../../images/custom/hero-bg-medium.jpg, medium],[../../images/custom/hero-bg-big.jpg, large]")
//-   .grid-container.wh100
//-     .grid-x.grid-padding-x.text-center.flex-container.align-stretch.h100
//-       .cell.align-self-bottom
//-         h1 Insights To Master The Digital Economy
//-       .cell.align-self-bottom.pb2
//-         p.m0 Let's go
//-         img.hero-icon(src="../../images/custom/arrow.svg")
