include ../../../_mixins.pug
+insight({
  eyebrow: "INSIGHTS",
  title: "Battleground Reports",
  tiles: [
    {
      title: " The True Meaning of AI: Action & Insight",
      description: "The Work Ahead is a research series providing insight and guidance on how organizations are evolving to the next stage of their digital journey. In this report, we explore how C-level executives around the world are using artificial intelligence to power business success, and provide guidance on using this powerful technology to ensure a successful future for the future of work.",
      url: "#",
      linkText: "LEARN MORE",
      image: "images/battleground-report-true-meaning-of-ai.jpg"
    }
      ]
    })(class="bg-gray-lighter")
