//- .bg-blue.text-white.py3.medium-py6.large-py8.bg-size-cover(style="background: url('images/headline-background.png') no-repeat;")
  .grid-container
    .grid-x.grid-padding-x.align-middle
      .cell.auto(data-aos="fade-up" data-aos-offset="50")
        p.mb-half.text-spacing-1 HEADLINE
        h4 Lorem Ipsum dolor Sit Amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .cell.large-5
        img.lazyload.object-fit-contain(data-sizes="auto" data-src="images/headline_numbers.svg" alt="CHANGE_ME" data-aos="fade-down" data-aos-delay="500")

.bg-blue.text-white.py1.medium-py4.large-py8.bg-size-cover.bg-pos-center-center.bg-attach-fixed(style="background: url(images/hero-background-blurred.jpg);")
  .grid-container
    .grid-x.grid-padding-x.align-middle
      .cell.small-11.medium-5.text-center.medium-text-right(data-aos="fade-right")
        h6.super-size.m0 49%
      .cell.small-11.medium-5(data-aos="fade-left")
        h4.text-normal.m0 Nearly half of respondents expect the pandemic to destroy traditional, non-digital businesses and those that don’t move online aggressively enough.