.ahead-container {
	.bar {
		&:before,
		&:after {
			content: '';
			position: absolute;
			background: $blue;
			z-index: -1;
		}
	}
	.outer-top {
		height: 24px;
		width: 82%;
		background: $blue;
		&:before {
			left: 0;
			top: 0;
			height: 3em;
			width: 24px;
		}
		&:after {
			right: 0;
			top: 0;
			height: 10em;
			width: 24px;
		}
	}
	.outer-bottom {
		height: 24px;
		width: 82%;
		background: $blue;
		&:before {
			left: 0;
			bottom: 0;
			height: 3em;
			width: 24px;
		}
		&:after {
			right: 0;
			bottom: 0;
			min-height: 10em;
			width: 24px;
		}
	}
}

.ahead-book {
	max-width: 348px;
	height: 450px;
	margin: auto;
	background: url('../../images/custom/ahead-book.jpg') no-repeat;
	background-position: center;
	background-size: 100%;
	@include breakpoint(medium down) {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}
