@import './utils';

.hero {
  &-wrapper {
    @include breakpoint(medium) {
      min-height: 1200px;
    }
  }

  &-content {
    h1 {
      line-height: 1.1;
      @include fluidSize(font-size, 320px, $cog-bp--desktop-xl, 50px, 110px);
    }
  }

  &-scroll {
    flex-direction: column;
    left          : 0;
    right         : 0;
    bottom        : 2%;
  }

  &-icon {
    transform: rotate(90deg);
  }
}
