@import './utils';

.preview {
	&-background {
		background-image: linear-gradient(233deg, $blue-twa, $blue-twa-dark);
		z-index         : -1;
	}

	&-frame {
		&__bottom,
		&__top {
			&.frame-bar {
				&:before {
					height: 2em;
					width : 24px;
					@include breakpoint(small only) {
						width : 8px;
						height: 3em;
					}
				}

				&:before {
					right: 0;
				}
			}
		}

		&__bottom {
			&.frame-bar {
				&:before {
					bottom: 0;
					height: 6em;
				}
			}
		}
	}

	&-container {
		.vertical-bar {
			width       : 24px;
			height      : 4.5em;
			margin-left : auto;
			background  : $white;
			margin-right: 0.5rem;
		}

		.bar-container {
			align-items: center;
		}
	}
}
