include ../_mixins.pug
+insight({
  eyebrow: "THE WORK AHEAD",
  title: "Technologies",
  tiles: [
    {
      title: "The True Meaning of AI: Action & Insight",
      description: "Explore how C-level executives around the world are using AI to power their business and ensure success in the future of work.",
      url: "https://www.cognizant.com/whitepapers/the-true-meaning-of-ai-action-and-insight-codex6204.pdf",
      linkText: "READ NOW",
      image: "images/battleground-report-true-meaning-of-ai.jpg"
    }
      ]
    })(class="bg-gray-lighter")
