include ../_mixins.pug

.ahead-container.grid-container.relative.py2.medium-py6
  // ======================================================================
  // ██████   ██████  ██████  ██████  ███████ ██████
  // ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
  // ██████  ██    ██ ██████  ██   ██ █████   ██████
  // ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
  // ██████   ██████  ██   ██ ██████  ███████ ██   ██
  // ======================================================================
  .grid-x.show-for-medium
    .cell.large-11.flex-container.align-top
      img.lazyload(data-src="images/1px-blue.gif" style="width: 1.25rem; height: 3rem;")
      img.lazyload(data-src="images/1px-blue.gif" style="width: 100%; height: 1.25rem;")
      img.lazyload(data-src="images/1px-blue.gif" style="width: 1.25rem; height: 6.25rem;")

  // ================== ====================================================
  //-  ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
  //- ██      ██    ██ ████   ██    ██    ██      ████   ██    ██
  //- ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
  //- ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
  //-  ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
  // ======================================================================  
  .grid-x.grid-padding-x.align-middle.report
    .cell.medium-6.small-12.relative(data-aos="fade-left")
      p.mb-half.text-gray.text-spacing-1 CHANGE_ME
      h2 CHANGE_ME
      p The Work Ahead reveals that while digital is still a work in progress, digital competency is the primary competency that will move businesses into the future.
      a.button.arrow.expanded.medium-mt2.link-coverAll(href="https://www.cognizant.com/whitepapers/the-work-ahead-digital-first-to-last-codex6154.pdf" target="_blank" rel="noopener") READ NOW
      +social-media({
        type: 'logo-facebook',
        link: 'https://www.facebook.com/cognizant'
      },{
        type: 'logo-twitter-bird',
        link: 'https://www.twitter.com/cognizant'
      },{
        type: 'logo-linkedin',
        link: 'https://www.linkedin.com/cognizant'
      })(class="z1")
    .cell.medium-5.medium-offset-1.report-image.relative(data-aos="fade-right")
      img.lazyload.bd-blue-2.w100(data-src="images/Global_Codex_6154_TWA_Global_Report_WEB.jpg")
      .report-image-shadow

  // ======================================================================
  // ██████   ██████  ██████  ██████  ███████ ██████
  // ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
  // ██████  ██    ██ ██████  ██   ██ █████   ██████
  // ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
  // ██████   ██████  ██   ██ ██████  ███████ ██   ██
  // ======================================================================
  .grid-x.show-for-medium
    .cell.large-11.flex-container.align-bottom
      img.lazyload(data-src="images/1px-blue.gif" style="width: 1.25rem; height: 3rem;")
      img.lazyload(data-src="images/1px-blue.gif" style="width: 100%; height: 1.25rem;")
      img.lazyload(data-src="images/1px-blue.gif" style="width: 1.25rem; height: 6.25rem;")