.grid-container.text-center.py4.medium-py6
  .grid-x 
    .cell
      h3.mb2.medium-mb3.text-light.text-gray Join in the conversation of what’s next for global organizations. Explore with us where business is headed, after a global pandemic has rewritten the future of work. It’s a time of reset, to forge new ways to connect with customers, employees and supply chains. There are many challenges still ahead, and The Work Ahead is here to help you get there.

      .responsive-embed.widescreen
        iframe.lazyload(width="420" height="315" data-src="https://www.youtube.com/embed/rHxrFg0Reus" frameborder="0" allowfullscreen)
        //- lite-youtube(videoid="rHxrFg0Reus" style="max-width:100%;")