.grid-container.text-center.py4.medium-py6
  .grid-x 
    .cell
      h3.mb2.medium-mb3.text-light.text-gray Rich meaning lives in every process that touches customers, employees and suppliers. When you partner AI effectively with new workflows that match smart people with smart machines, you can ready your business for success in the work ahead. 

      .responsive-embed.widescreen
        iframe.lazyload(width="420" height="315" data-src="https://www.youtube.com/embed/rHxrFg0Reus" frameborder="0" allowfullscreen)
        //- lite-youtube(videoid="rHxrFg0Reus" style="max-width:100%;")